@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    color: azure;
}

.main-header {
    padding-top: 10vh;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 3%;
    margin-bottom:5%;
}

/*For desktop*/
@media only screen and (min-width: 1000px) {

}

body {
    font-family: Verdana, sans-serif;
}

.swiper {
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    max-height: 65vh;
    margin-bottom: 20vh;
}

.swiper-slide {
    background-position: center;
    width: fit-content;
    border-radius: 15px;
}

.swiper .swiper-slide {
    width: fit-content;
    height: auto;
    line-height: 300px;
}

.swiper .swiper-slide:nth-child(2n) {
    
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
}

/*For mobile phones and tablets*/
@media only screen and (max-width: 950px) {
    .leftside-requirements {
        width: 100%;
        margin-bottom: 10vh;
        margin-top: 0%;
    }
    .rightside-requirements {
        width: 100%;
        margin: 0%;
    }
}
