@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: azure;
}

/*Only have one styling for attributes that use the same styling*/

h4 {
    text-align: center;
    margin-top: 3%;
    margin-bottom:5%;
}

/*For desktop*/
@media only screen and (min-width: 1000px) {
    .main-header {
        padding-top: 2%;
        text-align: center;
        font-weight: 100;
        font-size: 3.5em;
        margin-bottom: 5%;
    }

    .container-1 {
        margin-top: 8vh;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.55);
        width: 100%;
        color: azure;
        display: block;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }

    .container-1-header {
        padding-top: 0.5em;
        font-weight: 100;
        text-align: center;
        font-size: 2.8em;
    }

    .container-1-content {
        width: 100%;
        text-align:center;
        margin-top: 4vh;
    }

    .container-1-text {
        margin-left: 36.8vw;
        font-weight: 100;
        padding-bottom: 0.5em;
        font-size: 1.2em;
        width: 25vw;
    }

    .container-2 {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.3);
        width: 100%;
        align-content: center;
    }

    .container-2-header {
        width: 100%;
        text-align: center;
        font-weight: 200;
        font-size: 3em;
        padding-top: 8vh;
        margin-bottom: 10vh;
    }

    .container-2-content {
        font-weight: 200;
        text-align: center;
        font-size: 1.1em;
        color: azure;
        width: 50%;
        margin-left: 25%;
        padding-bottom: 8vh;
    }

    .container-3 {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.55);
        width: 100%;
        height: fit-content;
        text-align: center;
    }

    .container-3-header {
        padding-top: 8vh;
        text-align: center;
        font-weight: 200;
        font-size: 3em;
        margin-bottom: 12vh;
    }

    .testimony-container {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 25%;
        row-gap: 10%;
        padding-bottom: 20vh;
    }

    .testimony-1 {
        width: 20vw;
        margin-left: 12vw;
    }

    .testimony-photo {
        width: 100%;
        margin-bottom: 5vh;
        border-radius: 15px;
    }

    .testimony-text {
        text-align: center;
        font-size: 1.1em;
        width: 100%;
        font-weight: 100;
    }

    .testimony-2 {
        width: 20vw;
    }

    .testimony-3 {
        width: 20vw;
        margin-left: 12vw;
    }

    .testimony-4 {
        width: 20vw;
    }

    .swiper {
        text-align: center;
        width: 100%;
        padding-bottom: 50px;
        max-height: 65vh;
        margin-bottom: 20vh;
    }

    .swiper-slide {
        background-position: center;
        width: fit-content;
        border-radius: 15px;
    }

    .slide-photo {
        height: 50vh;
        border-radius: 15px;
    }

    .swiper .swiper-slide {
        width: fit-content;
        height: auto;
        line-height: 300px;
    }
}


/*For mobile phones and tablets*/
@media only screen and (max-width: 1025px) {
    .main-header {
        color: azure;
        padding-top: 5%;
        text-align: center;
        font-weight: 100;
        font-size: 10vw;
        margin-bottom: 15%;
    }

    .swiper {
        text-align: center;
        width: 100%;
        padding-bottom: 50px;
        margin-bottom: 2vh;
    }

    .swiper-slide {
        background-position: center;
        width: fit-content;
    }

    .swiper .swiper-slide {
        width: fit-content;
        height: fit-content;
    }

    .slide-photo {
        height: 25vh;
        border-radius: 15px;
    }

    .container-1 {
        margin-top: 8vh;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.55);
        height: fit-content;
        width: 100%;
        color: azure;
        display: block;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }

    .container-1-header {
        padding-top: 0.5em;
        font-weight: 100;
        text-align: center;
        font-size: 2.8em;
    }

    .container-1-content {
        width: 100%;
        height: fit-content;
        text-align: center;
        margin-top: 4vh;
        padding-bottom:5%;
    }

    .container-1-text {
        margin-left: 24vw;
        font-weight: 100;
        font-size: 1.2em;
        width: 50vw;
    }

    .container-2 {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.3);
        width: 100%;
        align-content: center;
    }

    .container-2-header {
        width: 100%;
        text-align: center;
        font-weight: 200;
        font-size: 4vh;
        padding-top: 5vh;
        margin-bottom: 10vh;
    }

    .container-2-content {
        font-weight: 200;
        text-align: center;
        font-size: 1.3em;
        color: azure;
        width: 80%;
        margin-left: 10%;
        padding-bottom: 8vh;
    }

    .container-3 {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.55);
        width: 100%;
        text-align: center;
    }

    .container-3-header {
        padding-top: 8vh;
        text-align: center;
        font-weight: 200;
        font-size: 3em;
        margin-bottom: 12vh;
    }

    .testimony-container {
        display: grid;
        grid-template-columns: auto;
        column-gap: 25%;
        row-gap: 5%;
        padding-bottom: 45%;
    }

    .testimony-1 {
        width: 70%;
        margin-left: 15%;
    }

    .testimony-photo {
        width: 70%;
        margin-bottom: 5vh;
        border-radius: 15px;
    }

    .testimony-text {
        text-align: center;
        font-size: 1.3em;
        width: 100%;
        font-weight: 100;
    }

    .testimony-2 {
        width: 70%;
        margin-left: 15%;
    }

    .testimony-3 {
        width: 70%;
        margin-left: 15%;
    }

    .testimony-4 {
        width: 70%;
        margin-left: 15%;
    }
}
