@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    color: azure;
}

/*For desktop*/
@media only screen and (min-width: 1000px) { /*Add benefits on a 2 x 'X' table. blur backgrounds and round corners*/
    h1 {
        color: azure;
        font-weight: 200;
        margin-bottom: 10vh;
        padding-top: 0.4em;
        text-align: center;
        font-size: 4em;
    }

    .container-1 {
        text-align: center;
        width: 100%;
        margin-left: 3.5%;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .benefits-container {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
        border: 1px solid rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(200px);
        border-radius: 15px;
        text-align: center;
        width: 80%;
        padding: 5%;
    }

    .benefit-text {
        font-size: 0.9em;
    }

    h4 {
        font-weight: 100;
        font-size: 1.4em;
    }
}
    