@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    color: azure;
    height: fit-content;
}

/*For desktop*/
@media only screen and (min-width: 1000px) { /*Add benefits on a 2 x 'X' table. blur backgrounds and round corners*/
    h1 {
        font-weight: 100;
        margin-bottom: 10%;
        padding-top: 2%;
        text-align: center;
        font-size: 3.5em;
    }

    .container-1 {
        text-align: center;
        width: 98%;
        padding-left: 5%;
        margin-left: 2%;
        margin-bottom: 11%;
        display: grid;
        row-gap: 5%;    
        grid-template-columns: auto auto auto;
    }

    .benefits-container {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        border: 1px solid rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(200px);
        border-radius: 15px;
        text-align: center;
        width: 80%;
        height: 100%;
        padding: 5%;
    }

    h4 {
        font-weight: 100;
        font-size: 1.8em;
    }

    .benefit-text {
        font-size: 1em;
        padding-top: 3%;
    }

    .insurance-text {
        
    }
}

@media only screen and (max-width: 999px) {
    h1 {
        color: azure;
        padding-top: 4%;
        text-align: center;
        font-weight: 100;
        font-size: 5.5vw;
        margin-bottom: 10%;
    }

    .container-1 {
        text-align: center;
        width: 100%;
        padding-left: 10%;
        margin-bottom: 40%;
        display: grid;
        row-gap: 5%;
        grid-template-columns: auto auto;
    }

    .benefits-container {
        text-align: center;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        border: 1px solid rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(200px);
        border-radius: 15px;
        text-align: center;
        width: 80%;
        height: 100%;
        padding: 5%;
    }

    h4 {
        font-weight: 100;
        font-size: 1.2em;
    }

    .benefit-text {
        font-size: 0.8em;
        padding-top: 2%;
    }
}
    