@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", serif;
}

.main-header {
    color: azure;
    text-align: center;
    padding-top: 0.5em;
    margin-bottom: 8vh;
    font-size: 3em;
    font-weight: 200;
}

.accordion {
    width: 60%;
    margin-left: 20%;
}