@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.main-header {
    color: azure;
    padding-top: 2%;
    text-align: center;
    font-weight: 100;
    font-size: 3.5em;
    margin-bottom: 5%;
}

.accordion {
    width: 60%;
    margin-left: 20%;
}

@media only screen and (max-width: 1025px) {
    .main-header {
        color: azure;
        padding-top: 5%;
        text-align: center;
        font-weight: 100;
        font-size: 8vw;
        margin-bottom: 12%;
    }
}