@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    
}

.nav-item {
    font-size: large;
}

/*For desktop*/
@media only screen and (min-width: 1000px) {
    .main-header {
        font-weight: 100;
        padding-top: 2%;
        text-align: center;
        font-size: 3.5em;
        color: azure;
    }

    .main-video {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25vh;
        margin-bottom: 25vh;
        max-width: 80%;
        height: auto;
        border-radius: 15px;
    }

    .container1 {
        width: 100%;
        height: auto;
        align-content: center;
        margin-top: 10%;
        margin-bottom: 30vh;
    }

    .paragraph1 {
        color: azure;
        text-align: center;
        width: 50vw;
        font-size: 1.5em;
        margin-left: 24.5vw;
    }

    .container-2 {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.55);
        height: auto;
        width: 100%;
        color: azure;
        display: block;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }

    .content-grid {
        width: 95%;
        margin-left: 5%;
        display: grid;
        column-gap: 20%;
        grid-template-columns: auto auto;
    }

    .container-2-header {
        width: 100%;
        padding-top: 0.5em;
        font-weight: 100;
        text-align: center;
        font-size: 2.8em;
    }

    .requirements-container-left {
        font-weight: 100;
        font-size: 1.1em;
        width: 80%;
        padding-bottom: 0.5em;
    }

    .requirements-header-left {
        text-align: center;
        font-size: 1.5em;
    }

    .requirements-container-right {
        font-weight: 100;
        font-size: 1.1em;
        width: 80%;
        padding-bottom: 0.5em;
        margin-left: 10%;
    }

    .requirements-header-right {
        text-align: center;
        font-size: 1.5em;
    }

    .container-3 {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.55);
        height: auto;
        width: 100%;
        color: azure;
        display: block;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }

    .container-3-header {
        padding-top: 0.5em;
        font-weight: 100;
        text-align: center;
        font-size: 2.5em;
    }

    .container-3-btn {
        margin-top: 8vh;
        margin-bottom: 4vh;
        width: 100%;
        height: auto;
        text-align: center;
    }
}

/*For mobile*/
@media only screen and (max-width: 999px) {
    .main-header {
        color: azure;
        padding-top: 5%;
        text-align: center;
        font-weight: 100;
        font-size: 9vw;
        margin-bottom: 15%;
    }

    .container1 {
        width: 100%;
        height: auto;
        margin-bottom: 10%;
    }

    .paragraph1 {
        color: azure;
        text-align: center;
        width: 78%;
        font-size: 1.2em;
        margin-left: 12vw;
    }

    .container-2 {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.55);
        height: auto;
        width: 100%;
        color: azure;
        display: block;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }

    .container-2-header {
        padding-top: 0.5em;
        margin-bottom: 5vh;
        font-weight: 100;
        font-size: 2.5em;
        text-align: center;
    }

    .requirements-container-left {
        font-weight: 100;
        font-size: 1.1em;
        width: 85%;
        height: auto;
        padding-bottom: 10vh;
        margin-left: 8vw;
        display: block;
    }

    .requirements-header-left {
        font-size: 1.5em;
    }

    .requirements-container-right {
        align-content: center;
        font-weight: 100;
        font-size: 1.1em;
        width: 85%;
        height: auto;
        padding-bottom: 0.5em;
        margin-left: 8vw;
        padding-top: 3vh;
    }

    .requirements-header-right {
        font-size: 1.5em;
    }

    .main-video {
        display: block;
        margin-top: 15vh;
        margin-bottom: 15vh;
        margin-left: 10%;
        width: 80%;
        max-width: 90%;
        height: auto;
        border-radius: 15px;
    }

    .container-3 {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.4);
        height: auto;
        width: 100%;
        color: azure;
        display: block;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }

    .container-3-header {
        padding-top: 0.5em;
        font-weight: 100;
        text-align: center;
        font-size: 2.5em;
    }

    .container-3-btn {
        margin-top: 8vh;
        margin-bottom: 4vh;
        width: 100%;
        height: auto;
        text-align: center;
    }
}