@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin-left: 0%;
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    font-size: large;
}

/*For desktop*/
@media only screen and (min-width: 1400px) {
    #appy-button {
        float:left;
        margin-left: 18%;
    }

    .email-footer {
        float: left;
        text-align: center;
        background: url(/Icons/email-icon.png) no-repeat left center;
        width: 18em;
    }

    .phone-footer {
        float: right;
        margin-left: 22%;
        background: url(/Icons/phone-icon.png) no-repeat left center;
        width: 10em;
    }
}

/*For tablets*/
@media only screen and (max-width: 1399px) {
    #appy-button {
        float:left;
        margin-left: 13%;
    }

    .email-footer {
        float: left;
        text-align: center;
        background: url(/Icons/email-icon.png) no-repeat left center;
        width: 18em;
    }

    .phone-footer {
        float: right;
        margin-left: 15%;
        background: url(/Icons/phone-icon.png) no-repeat left center;
        width: 10em;
    }
}

/*For mobile*/
@media only screen and (max-width: 992px) {
    #appy-button {
        margin-top: 30%;
        margin-left: 28vw;
        margin-bottom: 5%;
        width: 40% !important;
    }

    .email-footer {
        text-align: center;
        background: url(/Icons/email-icon.png) no-repeat left center;
        width: 18em;
        position: absolute;
        height: auto;
        margin-left: 26vw;
    }

    .phone-footer {
        background: url(/Icons/phone-icon.png) no-repeat left center;
        width: 10em;
        position: absolute;
        height: auto;
        margin-top: 15%;
        margin-left: 26vw;
    }
}

/*For small mobile*/
@media only screen and (max-width: 359px) {

    #appy-button {
        margin-top: 30%;
        margin-left: 30vw;
        margin-bottom: 10%;
        width: 40% !important;
    }

    .email-footer {
        text-align: center;
        background: url(/Icons/email-icon.png) no-repeat left center;
        width: 18em;
        position: absolute;
        height: auto;
        margin-left: 10vw;
    }

    .phone-footer {
        background: url(/Icons/phone-icon.png) no-repeat left center;
        width: 10em;
        position: absolute;
        height: auto;
        margin-top: 15%;
        margin-left: 10vw;
    }
}