@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.mainbody {

}

body {
    margin-bottom: 0px;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-optical-sizing: auto;
    margin: 0%;
    background-image: url('/Logo/AmazonPackage.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    backdrop-filter: blur(5px);
}

.main-body {
    z-index: 9;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.20);
    height: 100%;
    width: 100%;
    margin: 0px;
}

.nav-item {
    font-size: large;
}

.main-footer {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.7);
    color: azure;
}

/*For desktop*/
@media only screen and (min-width: 1400px) {
    #appy-button {
        float:left;
        margin-left: 18%;
    }

    .email-footer {
        float: left;
        text-align: center;
        background: url(/Icons/email-icon.png) no-repeat left center;
        width: 18em;
    }

    .phone-footer {
        float: right;
        margin-left: 22%;
        background: url(/Icons/phone-icon.png) no-repeat left center;
        width: 10em;
    }
}

/*For tablets*/
@media only screen and (max-width: 1399px) {
    #appy-button {
        float:left;
        margin-left: 13%;
    }

    .email-footer {
        float: left;
        text-align: center;
        background: url(/Icons/email-icon.png) no-repeat left center;
        width: 18em;
    }

    .phone-footer {
        float: right;
        margin-left: 15%;
        background: url(/Icons/phone-icon.png) no-repeat left center;
        width: 10em;
    }
}

/*For mobile*/
@media only screen and (max-width: 992px) {
    #apply-button {
        margin-top: 30%;
        margin-left: 28vw;
        margin-bottom: 5%;
        width: 40% !important;
    }

    .email-footer {
        text-align: center;
        background: url(/Icons/email-icon.png) no-repeat left center;
        width: 18em;
        position: absolute;
        height: auto;
        margin-left: 26vw;
    }

    .phone-footer {
        background: url(/Icons/phone-icon.png) no-repeat left center;
        width: 10em;
        position: absolute;
        height: auto;
        margin-top: 15%;
        margin-left: 26vw;
    }
}

/*For Samsung Galaxy Z Fold (Big Screen Open)*/
@media only screen and (max-width: 720px) {
    @media only screen and (min-width: 700px) {
        #apply-button {
            margin-top: 30%;
            margin-left: 22vw;
            margin-bottom: 10%;
            width: 40% !important;
        }

        .email-footer {
            text-align: center;
            background: url(/Icons/email-icon.png) no-repeat left center;
            width: 18em;
            position: absolute;
            height: auto;
            margin-left: 22vw;
        }

        .phone-footer {
            background: url(/Icons/phone-icon.png) no-repeat left center;
            width: 10em;
            position: absolute;
            height: auto;
            margin-top: 10%;
            margin-left: 22vw;
        }
    }
}

/*For small mobile*/
@media only screen and (max-width: 359px) {

    #apply-button {
        margin-top: 30%;
        margin-left: 30vw;
        margin-bottom: 10%;
        width: 40% !important;
    }

    .email-footer {
        text-align: center;
        background: url(/Icons/email-icon.png) no-repeat left center;
        width: 18em;
        position: absolute;
        height: auto;
        margin-left: 10vw;
    }

    .phone-footer {
        background: url(/Icons/phone-icon.png) no-repeat left center;
        width: 10em;
        position: absolute;
        height: auto;
        margin-top: 15%;
        margin-left: 10vw;
    }
}