@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin-left: 0%;
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    font-size: large;
}

/*For desktop*/
@media only screen and (min-width: 1400px) {
    .contact {
        width: 100%;
        height: fit-content;
        margin-bottom: 5%;
    }

    #appy-button {
        float:left;
        margin-left: 18%;
    }

    .email-footer {
        float: left;
        text-align: center;
        background: url(/Icons/email-icon.png) no-repeat left center;
        width: 18em;
    }

    .phone-footer {
        float: right;
        margin-left: 22%;
        background: url(/Icons/phone-icon.png) no-repeat left center;
        width: 10em;
    }
}

